@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-input: var(--input);
  --color-card: var(--card);
  --color-text-color: var(--text-color);
  --color-text-secondary: var(--text-secondary);
  --color-primary: var(--primary);
  --shadow-process: 0px 9px 0px #000;
  --shadow-button: 0px 0px 30px #0b4d3a;
  --shadow-button-hover: 0px 0px 40px #0b4d3a;
  --color-border: var(--border);

  --color-frame: var(--frame);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: #0f1312;
  --background-secondary: #0f1615;
  --input: #1b221f;
  --card: #161b18;
  --text-color: #fff;
  --text-secondary: #d8d8d8;
  --primary: #2fa06f;
  --border: oklch(1 0 0 / 10%);
  --frame: #2f3e4c62;

  --accent: oklch(0.97 0 0);
  --radius: 0.625rem;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
}

.dark {
  --background: #0f1312;
  --background-secondary: #0f1615;
  --input: #1b221f;
  --card: #161b18;
  --text-color: #fff;
  --text-secondary: #d8d8d8;
  --primary: #2fa06f;
  --border: oklch(1 0 0 / 10%);
  --frame: #2f3e4c62;

  --accent: oklch(0.269 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
}

.bg-primary-gradient {
  background-image: linear-gradient(
    135deg,
    rgba(11, 77, 58, 1) 22%,
    #108351 100%
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    scroll-behavior: smooth;
    @apply bg-background;
  }
}